torch==2.6.0
torchvision==0.21.0
transformers==4.48.3
tokenizers==0.21.0
sentencepiece==0.1.99
shortuuid
accelerate==1.6.0
peft>=0.10.0,<0.14.0
bitsandbytes
pydantic
markdown2[all]
numpy==1.26.4
scikit-learn==1.2.2
gradio==5.11.0
requests
uvicorn
fastapi
einops==0.6.1
einops-exts==0.0.4
timm==1.0.15
coremltools==8.2 